Checks: >
  -*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*

CheckOptions:
  - key: cert-err34-c.Gotchas
    value: 'gets, getpw, getlogin, cuserid'
...
