[submodule "third-party/libpuzzle"]
	path = third-party/libpuzzle
	url = https://github.com/jedisct1/libpuzzle
[submodule "third-party/libarchive"]
	path = third-party/libarchive
	url = https://github.com/libarchive/libarchive
